[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
local-infile=0
max_connections = 512
tmp_table_size = 256M
key_buffer_size = 512M
sort_buffer_size = 64M
read_buffer_size = 64M
thread_cache_size = 64
join_buffer_size = 128M
sort_buffer_size = 128M
query_cache_size = 512M
table_open_cache = 4096M
read_rnd_buffer_size = 128M
innodb_buffer_pool_size = 128M
datadir=/data/mysql
log_timestamps = SYSTEM
default_storage_engine = InnoDB
character-set-server=utf8mb4
init_connect='SET NAMES utf8mb4'
collation-server=utf8mb4_unicode_ci
character-set-client-handshake=FALSE

symbolic-links=0
log-error=/data/mysql/mysqld.log
socket=/data/mysql/mysql.sock
pid-file=/data/mysql/mysqld.pid
secure_file_priv=/var/lib/mysql-files

server-id=1
binlog-format=Row
expire_logs_days=10
log-bin=/data/mysql/mysql-bin
sql-mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

